@{
    ViewBag.Title = "About Me";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>From almost the moment I left the military, I've been hooked on programming. I find the challenge of writing code & the potential for creativity to be...intriguing, to say the least.</p>
<p> I am now an undergraduate in Computer Science at California State University, Long Beach (CSULB).</p>
<p>Before transferring to CSULB in 2019, I studied at San Francisco State in San Francisco, CA and at Orange Coast College in Costa Mesa, CA.</p>
<p>Originally, I am from Santa Ana, CA.</p>


