@{
    ViewBag.Title = "Current Works";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Currently, I am learning / working on web development using ASP.net and C#.</p>
<p>I am also learning mobile development with a focus on making apps for the Windows UWP ecosystem.</p>
