@{
    ViewBag.Title = "Visitor's Log";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form id="form1" runat="server">
    First Name:<br>
    <input type="text" name="firstName" ID="fName" value="" class="input-text autoclear" runat="server" /><br>
    Last Name: <br />
    <input type="text" name="lastName" ID="lName" value="" class="input-text autoclear" runat="server" /><br>
    Phone Number: <br />
    <input type="text" name="phone" ID="phone" value="" class="input-text autoclear" runat="server" /><br>
    Email Address: <br />
    <input type="text" name="email" ID="email" value="" class="input-text autoclear" runat="server" /><br>
    User Name: <br />
    <input type="text" name="userName" ID="userName" value="" class="input-text autoclear" runat="server" /><br>
    Password: <br />
    <input type="text" name="password" ID="password" value="" class="input-text autoclear" runat="server" /><br>
    <Button ID="yourButtonId" OnClick="yourButtonId_Click" Text="submit" runat="server" />
    <h3>@ViewBag.Message2</h3>

    
</form>



